In [82]:
import nltk
import numpy
import string
import matplotlib.pyplot as plt

from nltk.tokenize import word_tokenize
nltk.download('punkt')

nltk.download('stopwords')
from nltk.corpus import stopwords

from nltk.text import Text

import pandas as pd

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ezeyn\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ezeyn\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
# these are the companies listed on the Johannesburg Stock Exchange
listed_companies = pd.read_excel('Complete-List-of-Listed-Companies-on-South-Africa-Johannesburg-Stock-Exchange-Jan-2021.xlsx')
listed_companies.head()

,S.No.,Company Name,Ticker,Sector
0,1,4Sight Holdings Limited,4SI,Financial Services
1,2,ABSA Bank Limited,ABSP,Banks
2,3,Barclays Africa Group Limited,ABG.ZA,Banks
3,4,Accelerate Property Fund Limited,APF,Real Estate Investment Trusts
4,5,Accentuate Limited,ACE,Chemicals

In [287]:
# Taking unqiue company names into a list
companies = list(listed_companies['Company Name'].unique())

In [3]:
# load the Zondo Comission Into State Capture reports
zondo_reports = pd.read_csv('zondo_reports.csv')
zondo_reports = zondo_reports.drop(columns=['Unnamed: 0'])
zondo_reports.head()

,report,text
0,OCR version - State Capture Commission Report ...,dicial \r\nn of Ir• \r\nS a \r\nI I eport: Par...
1,OCR version - State Capture Commission Report ...,Judicial Commission \r\nOf \r\n Inquiry ...
2,OCR version - State Capture Commission Report ...,\r\n \r\nJudicial Commission \r\nof \r\nInqu...
3,OCR version - State Capture Commission Report ...,Chairperson: Justice RtM Zondo \r\nActing Chie...
4,OCR version - State Capture Commission Report ...,\r\n \r\nJudicial Commission \r\nof \r\nInqu...

In [288]:
# Joining all reports together
reports = " ".join(zondo_reports['text'])

In [7]:
# Tokenizing the reports
reports_tokens = word_tokenize(reports)

In [64]:
# Lowercasing all tokens
lowercased_reports_tokens = [token.lower() for token in reports_tokens]

# Formualting a manual list consisting of additional unnecessary words to be eliminated
junk_tokens = ['mr','ms','dr','p','``', '\'s','’','’’','\'\'','“','”','................................','l','would','also']

# Creating a final list of words to be removed from the tokens
removables = set(stopwords.words('English') + list(string.punctuation) + list(string.digits) + junk_tokens)

# Removing the unnecessary words
filtered_tokens = [token for token in lowercased_reports_tokens if token not in removables]

In [10]:
# importing frequencies distribution
from nltk.probability import FreqDist

In [80]:
# forming a frequencies variable
frequencies = FreqDist(filtered_tokens)

In [83]:
reports_corpus = Text(filtered_tokens)

In [221]:
# importing set of words
nltk.download('words')
from nltk.corpus import words
setofwords = set(words.words())

# importing a set consisting of English words
from english_words import english_words_set

companies_that_are_words = []
for key in comp_freqs:
    if key in setofwords:
        companies_that_are_words.append(key)

[nltk_data] Downloading package words to
[nltk_data]     C:\Users\ezeyn\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

In [281]:
# forming a list of common words to be removed from the company name parts: one of the list is manually created by visually
# observing the data values

common_words = set([word.lower() for word in list(english_words_set)] + list(string.ascii_lowercase) + 
                   
                   ['south','e','new','group','value','african','go',
                'bid','transaction','sa','total','w','capital','standard',
               'city','international','life','old','resource','old','global','central',
               'mine','trans','rand','great','distribution','huge','sun','advanced','premier',
               'pan','master','multichoice','eastern','efficient','union','net','freedom','middle',
                   'london','alexander','ab','british']
                   
                   + companies_that_are_words)

# first words in the names of companies
first_names_of_companies = []

for company in companies:
    company = company.lower()
    name_parts = company.split(sep=' ')
    if name_parts[0] not in common_words:
        first_names_of_companies.append(name_parts[0])

# dictionary for each first word and its respective frequency
first_name_comp_freqs = {}

for company_name in first_names_of_companies:
    first_name_comp_freqs[company_name] = frequencies[company_name]

In [269]:
# second words in the names of companies
second_names_of_companies = []

for company in companies:
    company = company.lower()
    name_parts = company.split(sep=' ')
    if len(name_parts)>1:
        if name_parts[1] not in common_words:
            second_names_of_companies.append(name_parts[1]) # taking the second word
    else:
        second_names_of_companies.append('')

# dictionary for each second word and its respective frequency
second_name_comp_freqs = {}

for company_name in second_names_of_companies:
    second_name_comp_freqs[company_name] = frequencies[company_name]

In [254]:
# dataframe that has two columns: company names (first word only) and its frequency
firt_name_comp_freqs_df = pd.DataFrame(list(zip(first_name_comp_freqs.keys(),first_name_comp_freqs.values())),columns=['company','frequency'])

# dataframe displaying values with above 1 frequency in a sorted form
firt_name_comp_freqs_df[firt_name_comp_freqs_df['frequency'] > 0].sort_values(by='frequency',ascending=False)

           company  frequency
83        glencore        190
136        nedbank        114
70             eoh        108
1             absa         64
102       investec         14
155      phumelela         13
77          exxaro         11
181          sasol         11
200         telkom         10
135        naspers          8
15     amalgamated          8
205        tongaat          7
216        vodacom          7
34              bk          3
49          caxton          3
105            isa          3
108            jse          3
180         sasfin          2
156            ppc          2
128       moneyweb          2
131          mpact          2
2         barclays          2
113          kumba          2
110            kap          2
33             bhp          2
19   arcelormittal          2
219        wescoal          2
126            mmi          1
160            psv          1
165            rdi          1
172             rh          1
173            rmb          1
189        south32          1
80       firstrand          1

In [270]:
# dataframe that has two columns: company names (second word only) and its frequency
second_name_comp_freqs_df = pd.DataFrame(list(zip(second_name_comp_freqs.keys(),second_name_comp_freqs.values())),columns=['company','frequency'])

# dataframe displaying values with above 1 frequency in a sorted form
second_name_comp_freqs_df[second_name_comp_freqs_df['frequency'] > 0].sort_values(by='frequency',ascending=False)

         company  frequency
11     resources        264
21   enterprises        232
13     equipment        179
1        limited        155
2     investment        147
38        mining        132
56      diamonds        110
9    investments         91
0       holdings         83
24      brothers         81
58   corporation         61
7     properties         58
65      partners         48
53    generation         46
36      colliery         38
37          agri         25
10         foods         20
49      minerals         18
17  appreciation         17
4       american         13
22    industries          9
33        fields          9
60       bidvest          4
26           plc          3
19           ctp          3
57      bafokeng          2
18      carriers          2
41      drilling          2
3    electronics          2
32        brands          1
59        stocks          1
25           emd          1
15            m3          1

In [285]:
# validate the company name
reports_corpus.concordance('emd',lines=200)

Displaying 1 of 1 matches:
ations stipulated manufacturer engine emd brand vossloh expressed preference ma

In [262]:
companies

['4Sight Holdings Limited',
 'ABSA Bank Limited',
 'Barclays Africa Group Limited',
 'Accelerate Property Fund Limited',
 'Accentuate Limited',
 'Acsion Limited',
 'Adapt It Holdings Limited',
 'Adcock Ingram Holdings Limited',
 'Adcorp Holdings Limited',
 'Adrenna Property Group Limited',
 'Advanced Health Limited',
 'Advtech Limited',
 'AECI Limited',
 'AEP Energy Africa Limited',
 'African And Overseas Enterprises Limited',
 'African Bank Investments Limited',
 'African Dawn Capital Limited',
 'African Eagle Resources Plc',
 'African Equity Empowerment Investments Limited',
 'African Media Entertainment Limited',
 'African Oxygen Limited',
 'African Rainbow Minerals Limited',
 'Afrimat Limited',
 'Afrocentric Investment Corp Limited',
 'AH-Vest Limited',
 'Alaris Holdings Limited',
 'Alert Steel Holdings Limited',
 'Alexander Forbes Group Holdings Limited',
 'Allied Electronics Corporation Limited',
 'Alviva Holdings Limited',
 'Amalgamated Electronic Corp Limited',
 'Anchor Group Limited',
 'Andulela Investment Holdings Limited',
 'Anglo American Platinium Limited',
 'Anglo American Plc',
 'Anglogold Ashanti Limited',
 'AB InBev',
 'ARB Holdings Limited',
 'Arcelormittal South Africa Limited',
 'Argent Industrial Limited',
 'Arrowhead Properties Limited',
 'Ascendis Health Limited',
 'Ascension Properties Limited',
 'Aspen Pharmacare Holdings Limited',
 'Assore Limited',
 'Astoria Investments Limited',
 'Astral Foods Limited',
 'Astrapak Limited',
 'Atlantic Leaf Properties Limited',
 'Atlatsa Resources Corporation',
 'Attacq Limited',
 'Aveng Limited',
 'AVI Limited',
 'Avior Capital Markets Holdings Limited',
 'Awethu Breweries Limited',
 'AYO Technology Solutions Limited',
 'Balwin Properties Pty Limited',
 'Barloworld Limited',
 'Basil Read Holdings Limited',
 'Bauba Platinum Limited',
 'Beige Holdings Limited',
 'Bell Equipment Limited',
 'BHP Billiton Plc',
 'Bid Corp Limited',
 'BK One Limited',
 'Blue Financial Services Limited',
 'Blue Label Telecoms Limited',
 'Bonatla Property Holdings Limited',
 'Bowler Metcalf Limited',
 'Brainworks Limited',
 'Brait SE',
 'Brikor Limited',
 'Brimstone Investment Corporation Ld',
 'British American Tobacco Plc',
 'BSI Steel Limited',
 'Buffalo Coal Corp',
 'Buildmax Limited',
 'Bytes Technology Group',
 'CAFCA Limited',
 'Calgro M3 Holdings Limited',
 'Capevin Holdings Limited',
 'Capital & Counties Properties Plc',
 'Capital & Regional Plc',
 'Capital Appreciation Limited',
 'Capitec Bank Holdings Limited',
 'Cargo Carriers Limited',
 'Cartrack Holdings Limited',
 'Cashbuild Limited',
 'Castleview Property Fund Limited',
 'Caxton CTP Publishers & Printers Ltd',
 'Central Rand Gold Limited',
 'Chemical Specialities Limited',
 'Choppies Enterprises Limited',
 'Chrometco Limited',
 'City Lodge Hotels Limited',
 'Clicks Group Limited',
 'Clientele Limited',
 'Clover Industries Limited',
 'Cognition Holdings Limited',
 'Comair Limited',
 'Combined Motor Holdings Limited',
 'Command Holdings Limited',
 'Compagnie Financiere Richemont SA',
 'Conduit Capital Limited',
 'Consolidated Infrastructure Group Ltd',
 'Coronation Fund Managers Limited',
 'Crookes Brothers Limited',
 'CSG Holdings Limited',
 'Cullinan Holdings Limited',
 'Curro Holdings Limited',
 'Datatec Limited',
 'Delrand Resources Limited',
 'Delta EMD Limited',
 'Delta Property Fund Limited',
 'Deneb Investments Limited',
 'Diamondcorp Plc',
 'Dipula Income Fund Limited',
 'Dis-Chem Pharmacies',
 'Discovery Limited',
 'Distell Group Limited',
 'Distribution And Warehousing Network Ld',
 'DRDGOLD Limited',
 'E Media Holdings Limited',
 'Eastern Platinum Limited',
 'Echo Polska Properties',
 'Ecsponent Limited',
 'Efficient Group Limited',
 'Efora Energy Limited',
 'ELB Group Limited',
 'Ellies Holdings Limited',
 'Emira Property Fund Limited',
 'enX Group Limited',
 'EOH Holdings Limited',
 'EPE Capital Partners Limited (Ethos Capital)',
 'Eqstra Holdings Limited',
 'Equites Property Fund Limited',
 'Erin Energy Corporation',
 'Esor Limited',
 'Etion Limited',
 'Masonite (Africa) Limited',
 'Evraz Highveld Steel & Vanadium Ltd',
 'Exemplar REITail Limited',
 'Exxaro Resources Limited',
 'Fairvest Property Holdings Limited',
 'Famous Brands Limited',
 'Ferrum Crescent Limited',
 'Finbond Group Limited',
 'Firestone Energy Limited',
 'Firstrand Limited',
 'Fortress Income Fund Limited',
 'Freedom Property Fund Ltd',
 'GAIA Infrastructure Capital Limited',
 'Giyani Gold Corporation',
 'Glencore Plc',
 'Global Asset Management Limited',
 'Globe Trade Centre SA',
 'Go Life International PCC',
 'Gold Brands Investments Limited',
 'Gold Fields Limited',
 'Gooderson Leisure Corporation Ltd',
 'Grand Parade Investments Limited',
 'Great Basin Gold Limited',
 'Grindrod Limited',
 'Grindrod Shipping Holdings Limited',
 'Grit Real Estate Income Group',
 'Group Five Limited',
 'Growthpoint Properties Limited',
 'Harmony Gold Mining Company Limited',
 'Heriot REIT Limited',
 'Holdsport Limited',
 'Homechoice International Plc',
 'Hosken Consolidated Investments Ltd',
 'Hosken Passenger Logistics and Rail Limited',
 'Hospitality Property Fund Limited',
 'Howden Africa Holdings Limited',
 'Hudaco Industries Limited',
 'Huge Group Limited',
 'Hulamin Limited',
 'Hulisani Limited',
 'Hwange Colliery Company Limited',
 'Hyprop Investments Limited',
 'Imbalie Beauty Limited',
 'Impala Platinum Holdings Limited',
 'Imperial Holdings Limited',
 'Indequity Group Limited',
 'Indluplace Properties Limited',
 'Ingenuity Property Investments Ltd',
 'Insimbi Refractory and Alloy Supplies Limited',
 'International Hotel Group Limited',
 'Interwaste Holdings Limited',
 'Intu Properties Plc',
 'Investec Australia Property Fund',
 'Investec Limited',
 'Investec Plc',
 'Investec Property Fund Limited',
 'Invicta Holdings Limited',
 'IPSA Group Plc',
 'ISA Holdings Limited',
 'Italtile Limited',
 'Jasco Electronics Holdings Limited',
 'JSE Limited',
 'Jubilee Platinum Plc',
 'Kaap Agri Limited',
 'KAP Industrial Holdings Limited',
 'Kaydav Group Limited',
 'Keaton Energy Holdings Limited',
 'Kibo Mining Plc',
 'Kore Potash Plc',
 'Kumba Iron Ore Limited',
 'Labat Africa Limited',
 'Lewis Group Limited',
 'Liberty Holdings Limited',
 'Liberty Two Degrees',
 'Libstar Holdings Limited',
 'Life Healthcare Group Holdings Ltd',
 'Lighthouse Capital Limited',
 'Lodestone REIT Limited',
 'London Finance & Investment Group Plc',
 'Long4Life Limited',
 'Lonmin Plc',
 'M-FiTEC International Limited',
 'Mainland Real Estate Limited',
 'Marshall Monteagle Plc',
 'MAS Real Estate Inc',
 'Massmart Holdings Limited',
 'Master Drilling Group Ltd',
 'Master Plastics Limited',
 'Mazor Group Limited',
 'MCMining Limited',
 'Mediclinic International Limited',
 'Merafe Resources Limited',
 'Metair Investments Limited',
 'Metrofile Holdings Limited',
 'Mettle Investments Limited',
 'Middle East Diamond Resources Limited',
 'Mine Restoration Investments Ltd',
 'Mix Telematics Limited',
 'MMI Holdings Limited',
 'Mondi Limited',
 'Mondi Plc',
 'Moneyweb Holdings Limited',
 'Montauk Holdings Limited',
 'Montauk Renewables',
 'Motus Holdings Limited',
 'Mpact Limited',
 'Mr Price Group Limited',
 'MTN Group Limited',
 'MTN Zakhele Futhi (RF)',
 'MultiChoice Group Limited',
 'Murray & Roberts Holdings Limited',
 'Mustek Limited',
 'Nampak Limited',
 'Naspers Limited',
 'Nedbank Group Limited',
 'NEPI Rockcastle',
 'Net 1 UEPS Technologies Inc',
 'Netcare Limited',
 'New Frontier Properties Limited',
 'Newpark REIT Limited',
 'Nictus Beperk',
 'Niveus Investments Ltd',
 'Northam Platinum Limited',
 'Novus Holdings Limited',
 'Nu-World Holdings Limited',
 'Nutritional Holdings Limited',
 'NVest Financial Holdings Limited',
 'Oando Plc',
 'Oasis Crescent Property Fund',
 'Oceana Group Limited',
 'Octodec Investments Limited',
 'Old Mutual Limited',
 'Old Mutual Plc',
 'Omnia Holdings Limited',
 'Onelogix Group Limited',
 'Orion Minerals NL',
 'Orion Real Estate Limited',
 'Pallinghurst Resources Limited',
 'Pan African Resources Plc',
 'Pembury Lifestyle Group Limited',
 'Pepkor Holdings Limited',
 'Peregrine Holdings Limited',
 'Petmin Limited',
 'Phumelela Gaming & Leisure Limited',
 'Pick N Pay Holdings Limited',
 'Pick N Pay Stores Limited',
 'Pioneer Food Group Limited',
 'PPC Limited',
 'Premier Food and Fishing Limited',
 'Prescient Limited',
 'Primeserv Group Limited',
 'Prosus',
 'PSG Group Limited',
 'PSG Konsult Limited',
 'PSV Holdings Limited',
 'Purple Group Limited',
 'Putprop Limited',
 'Quantum Food Holdings Limited',
 'Quilter Plc',
 'Rand Merchant Investment Holdings Limited',
 'Randgold & Exploration Company Ltd',
 'Rare Holdings Limited',
 'Raubex Group Limited',
 'Raven Property Group Limited',
 'RCL Foods Limited',
 'RDI REIT Plc',
 'Rebosis Property Fund Limited',
 'RECM And Calibre Limited',
 'Redefine Properties Limited',
 'Reinet Investments SCA',
 'Remgro Limited',
 'Renergen Limited',
 'Resilient REIT Limited',
 'Resource Generation Limited',
 'Reunert Limited',
 'Rex Trueform Clothing Company Ltd',
 'RH Bophelo Limited',
 'Rhodes Food Group Holdings Limited',
 'RMB Holdings Limited',
 'Rockwell Diamonds Incorporated',
 'Rolfes Holdings Limited',
 'Royal Bafokeng Platinum Limited',
 'SA Corporate Real Estate Limited',
 'Sabvest Limited',
 'Safari Investments RSA Limited',
 'Sanlam Limited',
 'Santam Limited',
 'Santova Limited',
 'Sappi Limited',
 'Sasfin Holdings Limited',
 'Sasol Limited',
 'Schroder European Real Estate Investment Trust plc',
 'Sebataa Holdings Limited',
 'Sentula Mining Limited',
 'Sephaku Holdings Limited',
 'Shoprite Holdings Limited',
 'Sibanye-Stillwater Limited',
 'Silverbridge Holdings Limited',
 'Sirius Real Estate Limited',
 'South Ocean Holdings Limited',
 'South32 Limited',
 'Spanjaard Limited',
 'Spear REIT Limited',
 'Spur Corporation Limited',
 'Stadio Holdings Limited',
 'Standard Bank Group Limited',
 'Stefanutti Stocks Holdings Ltd',
 'Steinhoff International Holdings Limited',
 'Steinhoff International Holdings NV',
 'Stellar Capital Partners Limited',
 'Stenprop Limited',
 'Stor-Age Property REIT Limited',
 'StratCorp Limited',
 'Sun International Limited',
 'Super Group Limited',
 'Sygnia Limited',
 'Taste Holdings Limited',
 'Tawana Resources NL',
 'Telemasters Holdings Limited',
 'Telkom SA SOC Limited',
 'Textainer Group Holdings Limited',
 'Texton Property Fund Limited',
 'Tharisa Plc',
 'The Bidvest Group Limited',
 'The Foschini Group Limited',
 'The SPAR Group Limited',
 'The Waterberg Coal Company Limited',
 'Tiger Brands Limited',
 'Tiso Blackstar Group SE',
 'Tongaat Hulett Limited',
 'Torre Industries Limited',
 'Total Client Services Limited',
 'Tower Property Fund Limited',
 'Tradehold Limited',
 'Trans Hex Group Limited',
 'Transaction Capital Limited',
 'Transpaco Limited',
 'Trellidor Holdings Limited',
 'Trematon Capital Investments Ltd',
 'Trencor Limited',
 'Trustco Group Holdings Limited',
 'Truworths International Limited',
 'Tsogo Sun Holdings Limited',
 'Tsogo Sun Hotels Limited',
 'Union Atlantic Minerals Limited',
 'Universal Partners Limited',
 'Value Group Limited',
 'Verimark Holdings Limited',
 'Visual International Holdings Limited',
 'Vivo Energy Plc',
 'Vodacom Group Limited',
 'Vukile Property Fund Limited',
 'Vunani Limited',
 'W G Wearne Limited',
 'Wescoal Holdings Limited',
 'Wesizwe Platinum Limited',
 'Wilderness Holdings Limited',
 'Wilson Bayly Holmes-Ovcon Limited',
 'Winhold Limited',
 'Woolworths Holdings Limited',
 'Workforce Holdings Limited',
 'York Timber Holdings Limited',
 'ZCI Limited',
 'Zeder Investments Limited']